<table class="table table-striped">
  <thead>
    <tr>
      <%= render "pages/headerTable" %>
    </tr>
  </thead>
  <tbody>
    <% @courses_list.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td style="text-align: center;">
          <% if category_status(item.id, current_user.id).status == true %>
            <%= content_tag :span, 'Checked', class:"label label-primary" %> 
          <% else %>
            <%= content_tag :span, 'Unchecked', class:"label label-danger" %> 
          <% end %>
        </td>
        <td style="text-align: center;"><%= item.questions.count %></td>
        <td style="text-align: center;">
          <% if category_status(item.id, current_user).status == true %>
            <%= count_result item.questions.ids  %>/<%= item.questions.count %>
          <% else %>
              -
          <% end %>
        </td>
        <td style="text-align: center;">
          <% if category_status(item.id, current_user).status == true %>
            <%= link_to "View",  page_path(item.id), class:"btn btn-primary button btn-sm" %>
          <% else %>
            <%= link_to "Learn",  new_page_path(item.id), class:"btn btn-success button btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>