<nav class="colorlib-nav" role="navigation">
	<div class="top-menu">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<div id="colorlib-logo">
						<%= link_to "E-learning", root_path, method: :get %>
					</div>
				</div>
				<div class="col-md-10 text-right menu-1">
					<ul>
						<li>
							<%= link_to "Home", root_path, method: :get %>
						<li>
							<%= link_to "Courses", usercourses_path, method: :get %>
						</li>
						<li>
							<%= link_to "Words list", "#", method: :get %>
						</li>
						<li>
							<%= link_to "Users", pages_path, method: :get %>
						</li>
						<li class="has-dropdown">
							<a href="courses.html">Setting</a>
							<ul class="dropdown">
							<% if(!current_user.nil?) %>
								<% if current_user.role != "user" %>
									<li>
										<%= link_to "Admin", rails_admin_path %>
									</li>
								<% end %>
							<% end %>
							<% if(!current_user.nil?) %>
									<li>
										<%= link_to "Profiles", profiles_path, method: :get %>
									</li>
							<% end %>
								<% if user_signed_in? %>
           							<li><%= link_to t("logout"), "", :method => "delete" %></li>
          						<% else %>
           							<li><%= link_to t("login"), "" %></li>
         				 		<% end %>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>
